<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>success</title>
        <link type="text/css" rel="stylesheet" href="<{$smarty.const.CSS_DOMAIN}>/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="<{$smarty.const.CSS_DOMAIN}>/login.css" />
        <script src="<{$smarty.const.JS_DOMAIN}>/jquery.min.js"></script>

    </head>
    <body>
        <div class="container">
            <h3><{$message}></h3>
        </div>
    </body>
</html>